*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  background-color: #F3E4F5;
  color: #6b5183;
  margin: 0;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  margin-top: 0.1em;
}

a:link {
  color: #46315a;
}

a:visited {
  color: #1b1323;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.portfolio, .centertext {
  text-align: center;
}

@media (min-width: 768px) {
  main {
    width: 85%;
  }

  .portfolio img {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  main {
    width: 80%;
  }

  .portfolio img {
    width: 30%;
  }
}