body {
            font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
            background-color: #F3E4F5;
            color: #6b5183;
            margin: 0 auto;
            max-width: 900px;
            width: 90%;
        }

        h1, h2 {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        a:link {
            color: #46315a;
        }

        a:visited {
            color: #1b1323;
        }