<hr>
    <nav class="portfolio">
        <a href="https://webpages.charlotte.edu/gjones97/itis3135">ITIS3135 |</a>
        <a href="https://github.com/scoobig">Github |</a>
        <a href="https://webpages.charlotte.edu/gjones97">CLT Web |</a>
        <a href="https://github.com/scoobig/scoobig.github.io">Github.io |</a>
        <a href="https://www.linkedin.com/in/gjones06/">LinkedIn |</a>
        <a href="https://www.codecademy.com/profiles/gjones24">Codecademy |</a>
        <a href="https://www.freecodecamp.org/gjones24">FreeCodeCamp</a>
    </nav>
        <p><a href="gabrielledesigns.co">&copy; Designed By: Gabrielle Designs</a></p>
